@import '../../vars'

#projects
  padding-left: $sectionPaddingExtra
  padding-right: $sectionPaddingExtra
  padding-bottom: 200px
  user-select: none
  .flex
    position: relative
    .column
      width: 50%
      .description
        font-size: 2rem
      .image-container
        border-radius: 20px
        background: $black
        width: 80%
        height: 400px
        overflow: hidden
        img
          object-fit: cover
          opacity: 0.5
          width: 100%
          height: 100%
      .circle
        z-index: -1
        width: 25vw
        height: 25vw
        position: absolute
        background: $red
        border-radius: 50%
        -webkit-box-shadow: $shadow
        -moz-box-shadow: $shadow
        box-shadow: $shadow
      .circle-right
        right: -15vw
        bottom: -8vw
      .circle-left
        left: -15vw
        bottom: -8vw
      .technologies
        .technology
          font-size: 1.5rem
          color: $red
          font-weight: bold
          line-height: 100%
          margin: 0 12px
  .padding-project-title
    padding-top: 100px
  .padding-project
    padding-top: 200px
.text-align-right
  text-align: right
