@import '../../vars'

#profile
  min-height: 100vh
  padding: 100px $sectionPaddingExtra
  user-select: none
  box-sizing: border-box
  display: flex
  justify-content: center
  flex-direction: column
  overflow: hidden
  p
    font-size: 2rem
  .technologies
    ul
      list-style: none
      li
        font-size: 1.5rem
        &::before
          content: "\2022"
          color: $red
          font-size: 2rem
          margin-left: 1rem

@media only screen and (max-width: 900px)
  #profile
    padding-left: $mobilePadding
    padding-right: $mobilePadding
    p
      font-size: 1rem
    .technologies
      ul
        li
          font-size: 1rem
          &::before
            margin-left: -1rem
