@import '../../vars'

#profile
  padding-left: $sectionPaddingExtra
  padding-right: $sectionPaddingExtra
  padding-top: 100px
  padding-bottom: 300px
  user-select: none
  p
    font-size: 2rem
  .technologies
    ul
      list-style: none
      li
        font-size: 1.5rem
        &::before
          content: "\2022"
          color: $red
          font-size: 3rem
          margin-left: 1rem
