@import '../../vars'

#contact
  margin-top: 200px
  margin-bottom: 250px
  padding: 0 $mobilePadding
  user-select: none
  .container
    max-width: 800px
    margin: 0 auto
  p.description
    font-size: 2rem
  a
    button
      background: $red
      border: none
      border-radius: 5px
      -webkit-box-shadow: $shadow
      -moz-box-shadow: $shadow
      box-shadow: $shadow
      padding: 15px 30px
      color: $background
      font-size: 1rem
      cursor: pointer
      transition: 0.2s all ease-in-out
      &:hover
        -webkit-box-shadow: $shadowHover
        -moz-box-shadow: $shadowHover
        box-shadow: $shadowHover

.text-align-center
  text-align: center
