@import './vars'

/** Light */
@font-face
  font-family: "New York"
  src: url("./assets/fonts/NewYorkExtraLarge-Semibold.otf")
  font-display: swap

/** Light */
@font-face
  font-family: "San Francisco"
  font-weight: light
  src: url("./assets/fonts/SF-Pro-Display-Light.otf")
  font-display: swap

/** Semibold */
@font-face
  font-family: "San Francisco"
  font-weight: bold
  src: url("./assets/fonts/SF-Pro-Display-Semibold.otf")
  font-display: swap

*
  color: $black
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

html, body
  height: 100%
  -ms-overflow-style: none
  scrollbar-width: none
  background: $background

::-webkit-scrollbar
  display: none

body
  overscroll-behavior-y: none

h1
  margin: 0
  font-family: "New York", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

h2, h3, h4, h5, h6
  margin: 0
  font-family: "San Francisco", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

.App
  width: 100%
  overflow-y: hidden
  .scroll
    overflow: hidden
    width: 100%
    position: relative

.section-title
  font-size: 4rem
  line-height: 100%

.section-trailing
  font-size: 2rem
  font-weight: bold
  color: $red
  line-height: 90%
  margin-left: 20px

.section-subtitle
  font-size: 1.5rem
  color: $red
  font-weight: bold
  line-height: 100%

.flex
  display: flex
  align-items: center

.flex-end
  justify-content: flex-end
.flex-reverse
  flex-direction: row-reverse
.overflow-hidden
  overflow: hidden

.smooth-scroll
  overflow: hidden
  position: fixed
  top: 0
  left: 0
  height: 100vh

@media only screen and (max-width: 900px)
  .section-title
    font-size: 2rem
  .section-trailing
    font-size: 1.5rem
  .section-subtitle
    font-size: 1.2rem
