@import '../../vars'

#fixed-links
  width: 100%
  height: 100vh
  position: fixed
  bottom: 0
  display: flex
  align-items: flex-end
  justify-content: space-between
  max-width: $maxWidth
  left: 50%
  transform: translate(-50%, 0)
  padding-left: $sectionPadding
  padding-right: $sectionPadding
  box-sizing: border-box
  z-index: 2
  user-select: none
  pointer-events: none
  .left-links
    display: flex
    flex-direction: column
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    pointer-events: auto
    .vertical-icons
      display: flex
      flex-direction: column
      a
        cursor: pointer
        .icon
          margin: 0 0 20px 0
          width: 24px
          height: 24px
  .right-links
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    pointer-events: auto
    .vertical-email
      margin: 20px 0
      a
        cursor: pointer
        display: block
.vertical-line
  height: 100px
  width: 1px
  background: $black
